.container {
  width: 900px;
  margin: auto;
  background-color: rgba(49,114,86, 0.5);
  border-radius: 5px;
}

@media(max-width: 900px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 300px;
  }
}
